* {
    box-sizing: border-box;

    font-family: Inter, sans-serif;
    margin: 0;
    border: none;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#sky {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(180deg, #605DFF, #0B0960);
    position: absolute;
    z-index: -5;
    top: 0;
}

#sun {
    aspect-ratio: 1;
    height: 5vw;
    position: absolute;
    z-index: -3;
    right: 10vw;
    top: 20vh;
    border-radius: 50%;
    background-color: #FFE589;
    box-shadow: 0 0 10vw 7.5vw rgba(255, 229, 137, 0.70);
}

#mountains, #clouds {
    position: absolute;
    width: 100vw;
}
#mountains {
    bottom: 11vh;
    z-index: -2;
}
#clouds {
    bottom: 10vh;
    z-index: -1;
    height: 8vw;
    overflow: hidden;
}

#clouds div {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: var(--h);
    transform: translateX(calc((var(--i) / 9) * 100vw + 100vw / 18 - 50%)) translateY(var(--y));
}

#blank-space {
    position: absolute;
    background-color: white;
    width: 100vw;
    top: 90vh;
}

.title {
    color: white;
    text-align: center;
    z-index: -4;
    position: relative;
}
h1.title {
    font-size: 6rem;
    margin-top: 50px;
}
p.title {
    font-size: 1.5rem;
}

.title span {
    display: inline-block;
    transform: rotateZ(var(--r)) translateY(-100px);
    opacity: 0;
    animation: word-enter 500ms forwards var(--d) cubic-bezier(.04,.99,.43,1.5);
}

@keyframes word-enter {
    from {

    }
    to {
        transform: rotateZ(0) translateY(0);
        opacity: 1;
    }
}

#my-projects {
    margin-top: calc(90vh - 7.5rem - 50px);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
}