* {
    box-sizing: border-box;

    font-family: Inter, sans-serif;
    margin: 0;
    border: none;
    padding: 0;
}

#sky {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(180deg, #605DFF, #0B0960);
    position: absolute;
    z-index: -4;
    top: 0;
}

#sun {
    aspect-ratio: 1;
    height: 5vw;
    position: absolute;
    z-index: -3;
    right: 10vw;
    top: 20vh;
    border-radius: 50%;
    background-color: #FFE589;
    box-shadow: 0 0 10vw 7.5vw rgba(255, 229, 137, 0.70);
}

#mountains, #clouds {
    position: absolute;
    width: 100vw;
}
#mountains {
    bottom: 22vh;
    z-index: -2;
}
#clouds {
    bottom: 5vh;
    z-index: -1;
}

.title {
    color: white;
    text-align: center;
}
h1.title {
    font-size: 6rem;
    margin-top: 50px;
}
p.title {
    font-size: 1.5rem;
}

.title span {
    display: inline-block;
    transform: rotateZ(var(--r)) translateY(-100px);
    opacity: 0;
    animation: word-enter 500ms forwards var(--d) cubic-bezier(.04,.99,.43,1.5);
}

@keyframes word-enter {
    from {

    }
    to {
        transform: rotateZ(0) translateY(0);
        opacity: 1;
    }
}